@model List<Email>
@{
}

<h1>E-mail</h1>

@if (Model.Count == 0)
{
    <h3>* Sem email cadastrado</h3>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var email in Model)
        {
            <tr>
                <td>@email.EmailCadastro</td>
            </tr>
        }
    </tbody>

</table>
}

<div class="col-sm-4 d-grid">
    <a class="btn btn-outline-primary" asp-controller="Cadastros" asp-action="Index" role="button">Voltar</a>
</div>